html {
    background-color: lightgray;
}

.App {
  text-align: center;
}

nav {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

nav a {
    color: white;
}

section {
    margin: 10px;
    background-color: darkgray;
}

footer {
  margin: 10px;
}